<ion-content>
  <main id="main">

    <section id="services" class="services" style="padding-bottom: 0;">
      <div class="container">

        <div class="section-title">
          <h2>Explorar</h2>
          <p>Marque seu progresso, adicione livros a sua lista pessoal de leitura, encontre novos interesses.</p>
          <p>Veja os livros já catalogados.</p>
        </div>

      </div>
    </section>
    
    <section id="more-services" class="more-services">
      <div class="container">

        <div class="row">
          <div class="col-md-3 d-flex align-items-stretch cardlivro" (click)="link('https://drive.google.com/file/d/1xoYx5o90z22ct0PLZwn9hgcgrydFt2vn/view')">
            <div class="card" style='background-image: url("../assets/img/livros/1007739147.jpg");'>
              <div class="card-body">
                <h5 class="card-title"><a href="">Harry Potter e a Pedra Filosofal</a></h5>
                <p class="card-text">J.K. Rowling</p>
                <div class="read-more">
                  <a>
                    <i class="bi bi-arrow-right"></i>
                    Começar a Leitura
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch cardlivro" (click)="link('https://drive.google.com/file/d/1CrQ85VS85QRIfRGVbINlVO5Sl-xXsCkq/view')">
            <div class="card" style='background-image: url("../assets/img/livros/61io1vJIWFL.jpg");'>
              <div class="card-body">
                <h5 class="card-title"><a href="">Como Eu Era Antes De Você</a></h5>
                <p class="card-text">Jojo Moyes</p>
                <div class="read-more">
                  <a>
                    <i class="bi bi-arrow-right"></i>
                    Começar a Leitura
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch cardlivro" (click)="link('https://drive.google.com/file/d/1NVhrmZLPklOPt-8BQtaNOn_OfXlpTk07/view')">
            <div class="card" style='background-image: url("../assets/img/livros/61oIS8ewc9L.jpg");'>
              <div class="card-body">
                <h5 class="card-title"><a href="">A Culpa É Das Estrelas</a></h5>
                <p class="card-text">John Green</p>
                <div class="read-more">
                  <a>
                    <i class="bi bi-arrow-right"></i>
                    Começar a Leitura
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch cardlivro" (click)="link('https://drive.google.com/file/d/1LboiDUBkkjLEdBpnjsyNHkxAIDeVuZ4c/view')">
            <div class="card" style='background-image: url("../assets/img/livros/81Q11TuUR3L.jpg");'>
              <div class="card-body">
                <h5 class="card-title"><a href="">A Cinco Passos de Você</a></h5>
                <p class="card-text">Rachel Lippincott</p>
                <div class="read-more"><a>
                  <i class="bi bi-arrow-right"></i>
                  Começar a Leitura
                </a>
              </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch cardlivro" (click)="link('https://drive.google.com/file/d/1HB-xAfBZLW3FFm11M-f7FJNLVWF81dEu/view')">
            <div class="card" style='background-image: url("../assets/img/livros/51UPmi8FVSL.jpg");'>
              <div class="card-body">
                <h5 class="card-title"><a href="">Maze Runner Correr ou Morrer</a></h5>
                <p class="card-text">James Dashner</p>
                <div class="read-more"><a>
                  <i class="bi bi-arrow-right"></i>
                  Começar a Leitura
                </a>
              </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch cardlivro" (click)="link('https://drive.google.com/file/d/1ARcScJDC-oWijq5iFI9_Pa63ST9V94Zf/view')">
            <div class="card" style='background-image: url("../assets/img/livros/1006788625.jpg");'>
              <div class="card-body">
                <h5 class="card-title"><a href="">Crepúsculo</a></h5>
                <p class="card-text">Stephenie Meyer</p>
                <div class="read-more"><a>
                  <i class="bi bi-arrow-right"></i>
                  Começar a Leitura
                </a>
              </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch cardlivro" (click)="link('https://drive.google.com/file/d/1cqP_Qu-8UkZGyIQgjyoX3XjGr62Bt0_h/view')">
            <div class="card" style='background-image: url("../assets/img/livros/67f28837d213511cafbd03214c5a36d9.jpg");'>
              <div class="card-body">
                <h5 class="card-title"><a href="">Percy Jackson e os Olimpianos: O Ladrão de Raios</a></h5>
                <p class="card-text">Rick Riordan</p>
                <div class="read-more"><a>
                  <i class="bi bi-arrow-right"></i>
                  Começar a Leitura
                </a>
              </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch cardlivro" (click)="link('https://drive.google.com/file/d/1ilEH6Hl9KSMQSy-uJ34sOpXQOpL16lLm/view')">
            <div class="card" style='background-image: url("../assets/img/livros/81SWBRKfExL.jpg");'>
              <div class="card-body">
                <h5 class="card-title"><a href="">Senhor dos Aneis A Sociedade do Anel</a></h5>
                <p class="card-text">J.R.R. Tolkien</p>
                <div class="read-more"><a>
                  <i class="bi bi-arrow-right"></i>
                  Começar a Leitura
                </a>
              </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

  </main>

</ion-content>
